h4{
    font-weight: bold !important
}
input{
    width: 420px; 

    border-color: darkgray !important

    
}
.bac{
    background-image: url(https://e7.pngegg.com/pngimages/5/952/png-clipart-wedding-graphy-grapher-graphy-logo-web-design-photography-thumbnail.png);
    background-repeat: no-repeat;
}